name: Tag release from main.tf template_version

on:
  push:
    branches: [main]

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  tag-release:
    uses: vespa-engine/gh-actions/.github/workflows/tf-tag-release.yml@main
    secrets: inherit
