
name: "Terraform modules"

on:
  workflow_dispatch:
  pull_request:

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Format
        run: terraform fmt -check
      - name: Initialize
        run: terraform init -backend=false
      - name: Validate
        run: terraform validate
  checkov:
    name: "Checkov"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          framework: terraform
          download_external_modules: false
