name: PR Template version bump check

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches: [main]

jobs:
  version-check:
    uses: vespa-engine/gh-actions/.github/workflows/tf-version-check.yml@main
